<!doctype html>
<html lang="zxx">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>aranaz</title>
  <link rel="icon" href="/userassets/img/favicon.png">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/userassets/css/bootstrap.min.css">
  <!-- animate CSS -->
  <link rel="stylesheet" href="/userassets/css/animate.css">
  <!-- owl carousel CSS -->
  <link rel="stylesheet" href="/userassets/css/owl.carousel.min.css">
  <!-- nice select CSS -->
  <link rel="stylesheet" href="/userassets/css/nice-select.css">
  <!-- font awesome CSS -->
  <link rel="stylesheet" href="/userassets/css/all.css">
  <!-- flaticon CSS -->
  <link rel="stylesheet" href="/userassets/css/flaticon.css">
  <link rel="stylesheet" href="/userassets/css/themify-icons.css">
  <!-- font awesome CSS -->
  <link rel="stylesheet" href="/userassets/css/magnific-popup.css">
  <!-- swiper CSS -->
  <link rel="stylesheet" href="/userassets/css/slick.css">
  <link rel="stylesheet" href="/userassets/css/price_rangs.css">
  <!-- style CSS -->
  <link rel="stylesheet" href="/userassets/css/style.css">
  <!--font awesome-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    



    <!-- breadcrumb start-->

    <!--================login_part Area =================-->
    <section class="login_part padding_top" style="padding-top: 16px !important;">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6">
                    <div class="login_part_text text-center ">
                        <div class="login_part_text_iner">
                            <h2>New to our Shop?</h2>
                            <p>There are advances being made in science and technology
                                everyday, and a good example of this is the</p>
                            <a href="/register" class="btn_3">Create an Account</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="login_part_form">
                        <div class="login_part_form_iner">
                            <h3>Welcome Back ! <br>
                                Please Log in now</h3>

                                <h6>email: muhaim25@gmail.com</h6>
                                <h6>password: 12345</h6>
                                <br>

                            <form class="row contact_form" action="/login" method="post" >
                                
                                <div class="col-md-12 form-group p_star">
                                   
                                    <input type="email" class="form-control" id="email" name="email" value=""
                                        placeholder="Email" required>
                                    
                                </div>
                            
                                <div class="col-md-12 form-group p_star">
                                    <input type="password" class="form-control" id="password" name="password" value=""
                                        placeholder="Password" required>
                                </div>

                                <% 

                                if(typeof message !== 'undefined'){
                                
                                %>
                                <h5><%= message %></h5>
                                <%
                                
                                }
                                
                                %>

                                <div class="col-md-12 form-group">
                                   
                                    <button type="submit" value="submit" class="btn_3">
                                        log in
                                    </button>

                                

                                    <a class="lost_pass" href="/forgotPassword">forget password?</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!--::footer_part end::-->

  <!-- jquery plugins here-->
  <!-- jquery -->
  <script src="/userassets/js/jquery-1.12.1.min.js"></script>
  <!-- popper js -->
  <script src="/userassets/js/popper.min.js"></script>
  <!-- bootstrap js -->
  <script src="/userassets/js/bootstrap.min.js"></script>
  <!-- easing js -->
  <script src="/userassets/js/jquery.magnific-popup.js"></script>
  <!-- swiper js -->
  <script src="/userassets/js/swiper.min.js"></script>
  <!-- swiper js -->
  <script src="/userassets/js/masonry.pkgd.js"></script>
  <!-- particles js -->
  <script src="/userassets/js/owl.carousel.min.js"></script>
  <script src="/userassets/js/jquery.nice-select.min.js"></script>
  <!-- slick js -->
  <script src="/userassets/js/slick.min.js"></script>
  <script src="/userassets/js/jquery.counterup.min.js"></script>
  <script src="/userassets/js/waypoints.min.js"></script>
  <script src="/userassets/js/contact.js"></script>
  <script src="/userassets/js/jquery.ajaxchimp.min.js"></script>
  <script src="/userassets/js/jquery.form.js"></script>
  <script src="/userassets/js/jquery.validate.min.js"></script>
  <script src="/userassets/js/mail-script.js"></script>
  <script src="/userassets/js/stellar.js"></script>
  <script src="/userassets/js/price_rangs.js"></script>
  <!-- custom js -->
  <script src="/userassets/js/custom.js"></script>
</body>

</html>
